
/*General*/

*{
    font-family: 'Montserrat', sans-serif;
}

body{
	background: url("../IMG/sports-background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 3%;
}

/*Contenido*/

h1{
	margin-bottom: 8%;
	color: #e4f1fe;
}

div{
	background: #22313f;
	width: 350px;
	padding: 20px;
	padding-bottom: 40px;
	color: #e4f1fe;
	border-radius: 10px;
}

i {
    height: 28px;
    vertical-align: middle;
}

form input{
	font-size: 20px;
	background-color: #e4f1fe;
	padding: 5px;
	border-radius: 5px;
	width: 240px;
}

form #submit{
	width: 255px;
}